/* ######### Some root CSS ########### */

:root {
  font-size: 10px;
  --primary-font-color: navy;
  --primary-bg-color: wheat;
  --secondary-bg-color: plum;
  --secondary-font-color: palegreen;
  --primary-font-size: 10px;
}
/* ######### Some basic CSS ########### */
*,
::before,
::after {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-font-color);
  scroll-behavior: smooth;
}
html {
}
body {
  font-size: 1.6rem;
  min-height: 100vh;
  background-color: rgb(20, 20, 20);
}
a {
  all: unset;
  cursor: pointer;
}
h1 {
  font-size: 3.6rem;
  text-align: center;
}
h2 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  text-align: center;
  font-size: 2.4rem;
}
/* ######### Some reusable CSS ########### */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.none {
  display: none !important;
}
.align-stretch {
  align-self: stretch;
  width: 99.5%;
}
hr.bold {
  height: 3px;
  background-color: var(--primary-font-color);
}
.underline {
  text-decoration: underline;
  cursor: pointer;
}
.underline:hover {
  text-decoration: none;
}
/* ######### Some specific CSS ########### */
.wrapper {
  display: block;
  height: 10;
  width: 100%;
  max-width: 90rem;
  background-color: var(--primary-bg-color);
  margin: 0 auto;
  border-radius: 0.5rem;
}
.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header > .logo {
  padding: 1rem;
}
.header > .logo:hover {
  background-color: var(--secondary-bg-color);
  border-radius: 0.5rem;
  color: var(--secondary-font-color);
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.getInputSection .form {
}
.plus-buttons {
  text-align: end;
}
.minus-buttons {
  text-align: end;
}
.radio-buttons {
  text-align: end;
}
.submit {
  float: right;
}
.showTime {
  text-align: end;
}
.btn {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-font-color);
  border-radius: 0.5rem;
  color: var(--primary-font-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: 4rem;
  max-width: 20vmin;
}
.btn:hover {
  background-color: var(--secondary-bg-color);
}
.submit {
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-font-color);
  border-radius: 0.5rem;
  color: var(--primary-font-color);
  padding: 0.5rem 1rem;
  cursor: pointer;
  /* width: 4rem; */
  max-width: 20vmin;
}
.activityItem {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem; */
}
.itemTodayActivityTimeIs {
  font-size: 1.2rem;
}
.activityAndMinutesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#elementToggleToShow {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#elementToggleToShow > * {
  display: flex;
  justify-content: space-between;
}
#elementToggleToShow > * > span {
}
.totalMinutesWastedEachDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
